.filter {
  display: flex;
  flex-direction: row;
}

::ng-deep .mat-mdc-select-value {
  transform: translateY(13px);
}

::ng-deep .mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
  transform: translateY(8px) !important;
}

::ng-deep .mat-mdc-form-field-infix {
  min-height: 41px;
}

::ng-deep
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 4px;
  padding-bottom: 6px;
}

::ng-deep
  .color-scheme-light
  .mdc-text-field:not(.mdc-text-field--disabled)
  .mdc-floating-label {
  color: rgba(0, 0, 0, 0.6);
  // margin-top: -0.3rem;
}

::ng-deep .mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: 0.75;
  display: inline-flex;
  flex-direction: column;
  min-width: 0;
  max-height: auto;
  text-align: left;
}

::ng-deep .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
  font: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  border: none;
  transform: translateY(16px);
}

::ng-deep .mat-mdc-form-field .mat-mdc-floating-label {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(
    --mdc-typography-body1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: var(--mdc-typography-body1-font-size, 12px);
  line-height: var(--mdc-typography-body1-line-height, 24px);
  font-weight: var(--mdc-typography-body1-font-weight, 400);
  letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
  -webkit-text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-transform: var(--mdc-typography-body1-text-transform, none);
}

::ng-deep
  .mat-mdc-text-field-wrapper
  .mat-mdc-form-field-flex
  .mat-mdc-floating-label {
  top: 23px;
}

::ng-deep
  .color-scheme-light
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #15a3b324 !important;
  height: 56px !important;
}

// ::ng-deep .custom-input {
//   height: 3.5rem;
// }


select {
    width: 100%;
    height: 300px;
    // padding: 10px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Rounded corners */
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', 'Helvetica Neue', sans-serif; /* Angular Material default font */
    font-size: 12px;
    outline: none; /* Removes the default focus outline */
}

select:focus {
    border-color: #3f51b5; /* Angular Material primary color for focus */
}

select option {
    padding: 8px 12px;
}

/* Style for selected options */
select option:checked {
    background-color: #36b6c3; /* Turquoise background for selected items */
    color: white; /* White text for better readability */
}

.icon {
  color: #2a99a5;
}

.icon-btn {
  background-color: whitesmoke;
  color: orange;
}

.example-custom-date-class {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
  }


.custom-expansion-panel-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Optional: If you want to ensure that mat-panel-description takes all available space */
.custom-panel-description {
    flex-grow: 1;
}

/* Ensure the icon aligns to the right */
.icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-column {
  padding-right: 0 !important;
}

.date-picker {
  padding-left: 0 !important;
}

.sub-btn {
  border: 2px solid #36b6c3;
  color: #36b6c3;
  border-radius: 50px;
  width: 8rem;
  float: right !important;
}

.modified-mc-content {
    height: 48px;
    padding: 0 !important;
  }

  ::ng-deep .mat-expansion-indicator::after {
    color: rgb(0, 0, 0) !important;
}

  ::ng-deep .example-headers-align {
    position: absolute;
    width: 85%;
  }
  
  .modified-mc-content > mat-expansion-panel {
      z-index: 999 !important;
  }
  
  .modified-mc-content > mat-expansion-panel > .mat-expansion-panel-content {
    overflow: auto;
    max-height: 500px !important;
  }

::ng-deep .color-scheme-light .mat-expansion-panel {
  background: #ffffff !important;
  width: 80%;
  margin: auto;
  border-radius: 0.75rem !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
}
::ng-deep .exp-title, .exp-desc {
  color: rgba(0, 0, 0, 0.87) !important;
}
.small-form {
  width: 100%;
  margin: auto;
}
  
  .modified-mc-content mat-chip {
    height: auto
  }

 ::ng-deep .monthpicker-container {
  position: relative;
  z-index: 9999 !important;
}

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
  }

  #test {
    height: 4.5rem
  }

  h1 {
    color: #2a99a5;
  }

  .clear-icon {
    color: #e40000;
  }

  .column-downtime {
    padding-left: 0 !important;
  }

.small-form-mat-card-general-form-holder {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1) 0 2px 4px -1px
    rgba(0, 0, 0, 0.06) !important;
  height: 96% !important;
  top: 8px !important;
  border-radius: 0.75rem !important;
  width: 100% !important;
}
.small-form-card-orders-form-holder {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
  height: auto !important;
  border-radius: 0.75rem !important;
}

/* Import styles for .small_form_button */
.small_form_button {
  border: 2px solid #36b6c3 !important;
  border-radius: 50px !important;
  width: 8rem !important;
}

::ng-deep .mat-expansion-panel-header {
  height: 55px;
  // border: 1px solid #2a99a5;
}

/* Import styles for .small-form-panel */
.small-form-panel {
  width: 100% !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: solid 1px grey !important;
  box-shadow: none !important;
}

/* Import styles for .small-form-panel-header */
.small-form-panel-header {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: #def2f4 !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: var(
    --mdc-typography-body1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  ) !important;
  font-size: var(--mdc-typography-body1-font-size, 16px) !important;
  line-height: var(--mdc-typography-body1-line-height, 24px) !important;
  font-weight: var(--mdc-typography-body1-font-weight, 400) !important;
  letter-spacing: var(
    --mdc-typography-body1-letter-spacing,
    0.03125em
  ) !important;
}
.exp-panel {
  height: 50px !important;
}
.small-form-panel-expansion {
  width: 100% !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: solid 1px grey !important;
  box-shadow: none !important;
  z-index: 999 !important;
}
.mat-datepicker-content {
  z-index: 999 !important;
}
.date-range-picker {
  width: 370px;
}
.ex-panel {
  margin-bottom: 8px;
}
.small-form-panel-description {
  -webkit-font-smoothing: antialiased !important;
  font-family: var(
    --mdc-typography-body1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  ) !important;
  font-size: var(--mdc-typography-body1-font-size, 9px) !important;
  line-height: var(--mdc-typography-body1-line-height, 24px) !important;
  font-weight: var(--mdc-typography-body1-font-weight, 400) !important;
  letter-spacing: var(
    --mdc-typography-body1-letter-spacing,
    0.03125em
  ) !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.column {
  width: 390px;
}

// .column2 {
//   width: 280px;
// }

.small-form-layout {
  -webkit-font-smoothing: antialiased !important;
  font-family: var(
    --mdc-typography-body1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  ) !important;
  font-size: var(--mdc-typography-body1-font-size, 9px) !important;
  line-height: var(--mdc-typography-body1-line-height, 24px) !important;
  font-weight: var(--mdc-typography-body1-font-weight, 400) !important;
  letter-spacing: var(
    --mdc-typography-body1-letter-spacing,
    0.03125em
  ) !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.small-form-layout-panel-header {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: #def2f4 !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: var(
    --mdc-typography-body1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  ) !important;
  font-size: var(--mdc-typography-body1-font-size, 16px) !important;
  line-height: var(--mdc-typography-body1-line-height, 24px) !important;
  font-weight: var(--mdc-typography-body1-font-weight, 400) !important;

  letter-spacing: var(
    --mdc-typography-body1-letter-spacing,
    0.03125em
  ) !important;
}

.col-3 {
    flex: 0 0 auto !important;
    width: 23% !important;
}

.graphs {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 20px !important;
}

// .btm-row {
//   padding-left: 0px !important;
//   padding-right: 0px !important;
// }

// .assets {
//   width: 380px !important;
// }

.list-row {
  padding-left: 0px !important;
}

h2 {
  font-weight: 300;
}

@media screen and (max-width: 992px) {
  .sub-btn {
    border: 2px solid #36b6c3;
    border-radius: 50px;
    width: 8rem;
    float: none !important;
  }
}