<app-skeleton *ngIf="isLoading"></app-skeleton>
<div class="row mx-auto mt-3 comp-row" *ngIf="!generateScatter">
  <div class="col mx-auto" style="text-align: center">
    <mat-card
      class="small-form-mat-card-general-form-holder graphs mx-auto p-3"
    >
      <h2>Please select a component to generate spend over odo graph</h2>
    </mat-card>
  </div>
</div>
<div
  *ngIf="!isLoading && generateScatter"
  echarts
  [options]="scatterPlot"
  (chartClick)="clickedScatterGraph($event)"
  style="height: 600px"
></div>
<br /><br /><br />
