.gauges-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gauge-wrapper {
  margin: 20px;
}

.active {
  /* Define styles for active card */
  border: 1px solid #36b6c3;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgba(54, 182, 195, 0.3) 0px 7px 29px 0px;
}

.col-md-3 {
  height: 158px;
  width: 175px;
  cursor: pointer !important;
  margin: auto !important;
}

.cardFilter {
  height: auto !important;
}
