<mat-card class="small-form-mat-card-general-form-holder">
  <mat-card-content class="pb-0">
    <div class="row">
      <mat-slide-toggle (change)="showAssetsPerToggle()" checked="true">
        <span>
          <span [ngStyle]="{ color: showAllTimeData ? '' : 'grey' }"
            >All Time</span
          >
          |
          <span [ngStyle]="{ color: showAllTimeData ? 'grey' : '' }"
            >Current Selection</span
          >
        </span>
      </mat-slide-toggle>
    </div>

    <div class="row mx-auto fleet-row mt-3 mb-4">
      <div class="col">
        <app-skeleton *ngIf="isLoading" class="skeleton"></app-skeleton>
        <div *ngIf="!isLoading" class="row mx-auto">
          <div class="col" style="width: 98%;">
            <span class="top-row-header"> Top 100 Most Expensive Assets </span>
          </div>
          <div class="col mx-auto my-auto d-flex justify-content-end">
            <mat-icon class="material-icons my-auto"
            (click)="exportToCSV()"
            style="color: #69d2dc"
              >cloud_download</mat-icon
            >
          </div>
        </div>
        <br />

        <div
          class="table"
          [ngStyle]="{ display: isLoading ? 'none' : 'block' }"
          style="height: 50%; width: 100%"
          id="topRow-Table"
        ></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
