<div class="row mx-auto" style="width: 98%">
  <div class="col">
    <div class="row">
      <div class="col">
        <br />
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col my-auto">
                <h2 class="top-row-header">Assets</h2>
              </div>
              <div class="col my-auto">
                <mat-chip
                  style="
                    background-color: #69d2dc00;
                    border: solid 3px #36b6c3;
                    font-size: 1.3rem;
                  "
                  >{{ assetCount }}</mat-chip
                >
              </div>
            </div>
          </div>
        </div>
        <hr class="top-row-divider" />
        <div class="row">
          <div class="col">
            <h2 class="top-row-header">Distance</h2>
            <div class="row">
              <div class="col my-auto"><span>Total</span></div>
              <div class="col">
                <mat-chip class="top-row-totals-chip">{{
                  totalDistance
                }}</mat-chip>
              </div>
              <div class="col my-auto"><span>Avg per Asset</span></div>
              <div class="col">
                <mat-chip class="top-row-totals-chip">{{ avgDist }}</mat-chip>
              </div>
            </div>
          </div>
        </div>
        <hr class="top-row-divider" />
        <div class="row">
          <div class="col">
            <h2 class="top-row-header">Billed Costs</h2>
            <div class="row">
              <div class="col my-auto">
                <span>Total</span>
              </div>
              <div class="col my-auto">
                <mat-chip class="top-row-totals-chip">{{
                  totalCosts
                }}</mat-chip>
              </div>
              <div class="col my-auto"><span>Avg per Asset</span></div>
              <div class="col">
                <mat-chip class="top-row-totals-chip">{{ avgCosts }}</mat-chip>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <h2 class="top-row-header" style="padding-top: 1rem; padding-left: 1rem">
      Usage (Single Month)
    </h2>
    <div
      echarts
      [options]="graphOptions"
      style="height: 258px; margin: 1rem"
      *ngIf="!isLoading"
    ></div>
    <app-graph-skeleton *ngIf="isLoading" class="skeleton"></app-graph-skeleton>
  </div>
</div>
