<br />
<mat-card>
  <mat-card-content>
    <div class="row mx-sm-auto">
      <div class="col mx-auto">
        <h5 class="top-row-header">{{ header }}</h5>
        <br />
      </div>
    </div>
    <div class="row-mx-auto">
      <!-- ASSETS SUMMARY  -->
      <div class="row mx-auto">
        <div class="row mx-auto">
          <div class="col mx-auto">
            <div class="row mx-auto">
              <div class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center"
                style="text-align: right">
              </div>
              <div class="col mx-auto my-auto" style="text-align: left">
                <h4 style="display: inline" class="top-row-header-title">Assets Summary</h4>
              </div>
              <h4 style="display: inline">Total Distance Traveled Excluding Trailers</h4>
            </div>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="row mx-auto">
            <div class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center" style="text-align: right">
              <mat-icon fontSet="fa" fontIcon="fa-circle" class="d-flex justify-content-end align-items-center"
                style="color: #69d2dc"></mat-icon>
            </div>
            <div class="col mx-auto my-auto" style="text-align: left">
              <h4 style="display: inline">Total Costs: </h4>
            </div>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="col mx-auto">
            <div class="row mx-auto">
              <div class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center"
                style="text-align: right">
                <mat-icon fontSet="fa" fontIcon="fa-circle" class="d-flex justify-content-end align-items-center"
                  style="color: #69d2dc"></mat-icon>
              </div>
              <div class="col mx-auto my-auto" style="text-align: left">
                <h4 style="display: inline">Total Savings Costs:</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FIXED COSTS  -->
      <hr class="top-row-divider" />
      <div class="row mx-auto">
        <div class="row mx-auto">
          <div class="col mx-auto">
            <div class="row mx-auto">
              <div class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center"
                style="text-align: right">
              </div>
              <div class="col mx-auto my-auto" style="text-align: left">
                <h4 style="display: inline" class="top-row-header-title">Fixed Costs</h4>
              </div>
              <h4 style="display: inline">Total Contracts Cost</h4>
            </div>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="row mx-auto">
            <div class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center" style="text-align: right">
              <mat-icon fontSet="fa" fontIcon="fa-circle" class="d-flex justify-content-end align-items-center"
                style="color: #69d2dc"></mat-icon>
            </div>
            <div class="col mx-auto my-auto" style="text-align: left">
              <h4 style="display: inline">Total Fixed Costs: </h4>
            </div>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="col mx-auto">
            <div class="row mx-auto">
              <div class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center"
                style="text-align: right">
                <mat-icon fontSet="fa" fontIcon="fa-circle" class="d-flex justify-content-end align-items-center"
                  style="color: #69d2dc"></mat-icon>
              </div>
              <div class="col mx-auto my-auto" style="text-align: left">
                <h4 style="display: inline">Total Variable Fixed Costs:</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- VARIABLE FIXED COSTS  -->
      <hr class="top-row-divider" />
      <div class="row mx-auto">
        <div class="row mx-auto">
          <div class="col mx-auto">
            <div class="row mx-auto">
              <div class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center"
                style="text-align: right">
              </div>
              <div class="col mx-auto my-auto" style="text-align: left">
                <h4 style="display: inline" class="top-row-header-title">Variable Costs</h4>
              </div>
              <h4 style="display: inline">Completed invoices, Orders Exceptions, Invoices Exceptions</h4>
            </div>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="row mx-auto">
            <div class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center" style="text-align: right">
              <mat-icon fontSet="fa" fontIcon="fa-circle" class="d-flex justify-content-end align-items-center"
                style="color: #69d2dc"></mat-icon>
            </div>
            <div class="col mx-auto my-auto" style="text-align: left">
              <h4 style="display: inline">Total Fixed Costs: </h4>
            </div>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="col mx-auto">
            <div class="row mx-auto">
              <div class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center"
                style="text-align: right">
                <mat-icon fontSet="fa" fontIcon="fa-circle" class="d-flex justify-content-end align-items-center"
                  style="color: #69d2dc"></mat-icon>
              </div>
              <div class="col mx-auto my-auto" style="text-align: left">
                <h4 style="display: inline">Total Variable Cost:</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="row mx-auto">
            <div class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center" style="text-align: right">
              <mat-icon fontSet="fa" fontIcon="fa-circle" class="d-flex justify-content-end align-items-center"
                style="color: #69d2dc"></mat-icon>
            </div>
            <div class="col mx-auto my-auto" style="text-align: left">
              <h4 style="display: inline">Unmatched PO's:</h4>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
    </div>
  </mat-card-content>
</mat-card>