<div class="row mx-auto" style="height: 900px;">
  <div class="col mx-auto">
    <div class="row mx-auto align-items-start">
      <div class="col-4">
        <img
          style="padding: 1rem; max-height: 10%; max-width: 50%"
          src="/assets/WesBank Logo Colour.png"
        />
      </div>
      <div class="col-4" style="text-align: center; padding-top: 2rem">
        <h2 class="top-row-header">Invoices</h2>
      </div>
      <div class="col-4" style="text-align: right; padding-top: 1rem">
        <button mat-icon-button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <br />

        <ag-grid-angular *ngIf="showGrid"
          #agGrid
          style="width: 99%; height: 80%; padding: 1rem"
          class="ag-theme-alpine"
          rowSelection="multiple"
          options="gridOptions"
          [rowData]="gridData"
          [columnDefs]="columnDefs"
        >
        </ag-grid-angular>
        <div *ngIf="!showGrid">No invoices associated with selected orders</div>

    <br />
  </div>
</div>
