<div class="row mx-auto my-auto">
  <div class="row mx-auto">
    <div class="col mx-auto my-auto">
      <img
        style="
          padding-left: 2rem;
          padding-top: 2rem;
          padding-bottom: 0.5rem;
          height: auto;
          width: 357px;
          text-align: center;
        "
        src="/assets/WesBank Logo Colour.png"
      />
    </div>
    <div class="col mx-auto my-auto">
      <!-- <span class="form-select-header">USER PERMISSIONS DETAILS</span> -->
      <mat-dialog-actions align="end" *ngIf="email">
        <!-- 'align="end"' aligns your actions to the right -->
        <button mat-button (click)="onClose()">Close</button>
      </mat-dialog-actions>
    </div>
  </div>
  <hr class="top-row-divider" *ngIf="email" />
  <div class="row mx-auto my-auto" style="text-align: center" *ngIf="email">
    <div class="col mx-auto my-auto">
      <span
        class="wesbank-header-large"
        style="margin: 0; padding-bottom: 0.3rem"
      >
        Welcome to the Wesbank Fleet Analytics Platform. Please see your
        Division and Branch Permissions below.
      </span>
    </div>
  </div>
  <hr class="top-row-divider" />
  <div class="row mx-auto-my-auto">
    <span
      *ngIf="!email"
      style="margin: 0; padding-bottom: 0.3rem; text-align: center"
      class="top-row-header"
    >
      Users Permissions Not Set. Please Contact Your Administrator.
    </span>
    <div class="col mx-auto my-auto" style="text-align: center" *ngIf="email">
      <span class="top-row-header-title">Username: {{ email }}</span>
    </div>

    <div class="col mx-auto my-auto" style="text-align: center" *ngIf="email">
      <span class="top-row-header-title">First Name: {{ first_name }}</span>
    </div>

    <div class="col mx-auto my-auto" style="text-align: center" *ngIf="email">
      <span class="top-row-header-title">Last Name: {{ last_name }}</span>
    </div>
  </div>
  <hr class="top-row-divider" />
  <br />
  <br />
  <div class="col mx-auto my-auto" style="text-align: center" *ngIf="!email">
    <span class="top-row-header">Username: {{ profileEmail }}</span
    ><br /><br /><br /><br />
  </div>

  <mat-card *ngFor="let division of userPermissions" style="padding: 0.5rem">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ division.division }}
        </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card-content *ngFor="let branch of division.branches">
        {{ branch.branch }}
        <hr class="top-row-divider" />

        <ul>
          Vehicle Types Viewable:
          <li *ngFor="let vehicle of branch.veh_types">
            {{ vehicle }}
          </li>
        </ul>
        <div class="row mx-auto-my-auto">
          <section>
            <mat-checkbox [disabled]="true" [checked]="branch.c"
              >Create Orders</mat-checkbox
            >
            <mat-checkbox [disabled]="true" [checked]="branch.r"
              >View Orders</mat-checkbox
            >
            <mat-checkbox [disabled]="true" [checked]="branch.u"
              >Update Orders</mat-checkbox
            >
            <mat-checkbox [disabled]="true" [checked]="branch.d"
              >Delete Orders</mat-checkbox
            >
          </section>
        </div>
      </mat-card-content>
    </mat-expansion-panel>
  </mat-card>
  <mat-dialog-actions align="end" *ngIf="email">
    <!-- 'align="end"' aligns your actions to the right -->
    <button mat-button (click)="onClose()">Close</button>
  </mat-dialog-actions>
</div>
