<h2 mat-dialog-title>Return Vehicle</h2>
<div class="row mx-auto">
  <div class="col mx-auto card-container">
    <div mat-dialog-content>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Choose a date"
          (dateInput)="dateSelected($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button mat-button (click)="onSubmit()" align="end">Submit</button>
    </div>
  </div>
</div>
