<div class="row mx-auto" style="height: 250px;">
  <div class="col mx-auto">
    <div class="row mx-auto"><img style="padding: 1rem" src="/assets/WesBank Logo Colour.png" /></div>
    <br />
    <div class="row mx-auto">
      <div class="col mx-auto" style="text-align: center">
        {{ dialogInput.message }}
      </div>
    </div>
    <br />
    <div class="row mx-auto">
      <div class="col mx-auto" style="text-align: center">
        <button
          mat-raised-button
          color="primary"
          (click)="onUserChoice('confirm')"
        >
          Confirm
        </button>
      </div>
      <div class="col mx-auto" style="text-align: center">
        <button mat-raised-button color="warn" (click)="onUserChoice('cancel')">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>