<div class="row mx-auto my-auto">
  <div class="col mx-auto my-auto">
    <h2 class="top-row-header">Fuel Spend and Consumption</h2>
    <div class="row mx-auto-my-auto">
      <div class="col mx-auto my-auto"></div>
      <div class="col mx-auto my-auto">
        <p>Avg. CPK Impact</p>
      </div>
    </div>
    <div class="row mx-auto-my-auto">
      <div class="col mx-auto my-auto">
        <p class="form-control">Vehicle Type 1</p>
        <p class="form-control">Vehicle Type 1</p>
        <p class="form-control">Vehicle Type 1</p>
      </div>
      <div class="col mx-auto my-auto">
        <p class="form-control">CPK 3</p>
        <p class="form-control">CPK 2</p>
        <p class="form-control">CPK 1</p>
      </div>
    </div>
  </div>
</div>
