<br />
<div class="container-fluid">
  <div class="row">
    <div
      *ngIf="isLoading"
      class="col d-flex align-items-center justify-content-center"
      style="height: 100%; text-align: center"
    ></div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Supplier Overviews</mat-panel-title>
          <mat-panel-description>
            Invoice status per Supplier
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-skeleton *ngIf="isLoading"></app-skeleton>
        <div
          *ngIf="!isLoading"
          class="charts"
          style="height: 800px"
          echarts
          [options]="sankeyOptions"
        ></div> </mat-expansion-panel
    ></mat-accordion>
  </div>
</div>
