<div class='skeleton'>
    <div class='barcontainerheader'>
    </div>
    <div class='bar' style='height:14%'>
      
      <div class='barlabel'>
        
      </div>
    </div>
    <div class='bar' style='height: 18%'>
      
      <div class='barlabel'>
        
      </div>
    </div>
    <div class='bar' style='height: 24%'>
      
      <div class='barlabel'>
        
      </div>
    </div>
    <div class='bar' style='height:35%'>
      
      <div class='barlabel'>
         
      </div>
    </div>
    <div class='bar' style='height:50%'>
      
      <div class='barlabel'>
        
      </div>
    </div>
    <div class='bar' style='height:80%'>
      
      <div class='barlabel'>
        
      </div>
    </div>
  </div>