<br />
<div class="row mx-sm-auto">
  <div class="col mx-auto">
    <h5 class="top-row-header">{{ header }}</h5>
    <br />
  </div>
</div>
<div class="row-mx-auto">
  <div class="row mx-auto">
    <div class="row mx-auto">
      <div class="col mx-auto">
        <div class="row mx-auto">
          <div
            class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center"
            style="text-align: right"
          >
            <mat-icon
              fontSet="fa"
              fontIcon="fa-circle"
              class="d-flex justify-content-end align-items-center"
              style="color: #69d2dc"
            ></mat-icon>
          </div>
          <div class="col mx-auto my-auto" style="text-align: left">
            <h4 style="display: inline">Completed</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col mx-auto">
        <span
          >Completed Invoices have been invoiced from Miles and has a matching
          PO Number from the client</span
        >
      </div>
    </div>
  </div>
  <hr class="top-row-divider" />
  <div class="row mx-auto">
    <div class="row mx-auto">
      <div class="col mx-auto">
        <div class="row mx-auto">
          <div
            class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center"
            style="text-align: right"
          >
            <mat-icon
              fontSet="fa"
              fontIcon="fa-circle"
              class="d-flex justify-content-end align-items-center"
              style="color: #39a750"
            ></mat-icon>
          </div>
          <div class="col mx-auto my-auto" style="text-align: left">
            <h4 style="display: inline">Accruals</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col mx-auto">
        <span
          >Accruals are orders in Miles that have not yet been invoiced, but
          have a matching PO from the client</span
        >
      </div>
    </div>
  </div>
  <hr class="top-row-divider" />
  <div class="row mx-auto">
    <div class="row mx-auto">
      <div class="col mx-auto">
        <div class="row mx-auto">
          <div
            class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center"
            style="text-align: right"
          >
            <mat-icon
              fontSet="fa"
              fontIcon="fa-circle"
              class="d-flex justify-content-end align-items-center"
              style="color: #e79920"
            ></mat-icon>
          </div>
          <div class="col mx-auto my-auto" style="text-align: left">
            <h4 style="display: inline">Order Exceptions</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col mx-auto">
        <span
          >Order Exceptions are orders received from the client which do not yet
          have a matching PO in Miles</span
        >
      </div>
    </div>
  </div>
  <hr class="top-row-divider" />
  <div class="row mx-auto">
    <div class="row mx-auto">
      <div class="col mx-auto">
        <div class="row mx-auto">
          <div
            class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center"
            style="text-align: right"
          >
            <mat-icon
              fontSet="fa"
              fontIcon="fa-circle"
              class="d-flex justify-content-end align-items-center"
              style="color: #fd7e14"
            ></mat-icon>
          </div>
          <div class="col mx-auto my-auto" style="text-align: left">
            <h4 style="display: inline">Invoice Difference</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col mx-auto">
        <span
          >Difference between captured orders, and captured invoices</span
        >
      </div>
    </div>
  </div>

  <hr class="top-row-divider" />
  <div class="row mx-auto">
    <div class="row mx-auto">
      <div class="col mx-auto">
        <div class="row mx-auto">
          <div
            class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center"
            style="text-align: right"
          >
            <mat-icon
              fontSet="fa"
              fontIcon="fa-circle"
              class="d-flex justify-content-end align-items-center"
              style="color: #d03827"
            ></mat-icon>
          </div>
          <div class="col mx-auto my-auto" style="text-align: left">
            <h4 style="display: inline">Invoice Exceptions</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col mx-auto">
        <span
          >Invoice Exceptions are orders in Miles that have no matching PO from
          the client</span
        >
      </div>
    </div>
  </div>
  <hr class="top-row-divider" />
  <div class="row mx-auto">
    <div class="row mx-auto">
      <div class="col mx-auto">
        <div class="row mx-auto">
          <div
            class="col-1 mx-auto my-auto d-flex justify-content-end align-items-center"
            style="text-align: right"
          >
            <mat-icon
              fontSet="fa"
              fontIcon="fa-circle"
              class="d-flex justify-content-end align-items-center"
              style="color: #000000"
            ></mat-icon>
          </div>
          <div class="col mx-auto my-auto" style="text-align: left">
            <h4 style="display: inline">Unassigned Costs</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col mx-auto">
        <span
          >Unassigned costs occur when an order cannot be matched to any vehicle
          on the fleet list</span
        >
      </div>
    </div>
  </div>

  <hr class="top-row-divider" />
  
</div>
