<div class="row">
  <div class="col-8">
    <div class="col mx-auto" style="text-align: right">
      <mat-icon
        (click)="downloadCsv()"
        class="material-icons my-auto"
        style="color: #69d2dc"
        >cloud_download</mat-icon
      >
    </div>
    <app-skeleton *ngIf="isLoading" class="skeleton"></app-skeleton>
    <div
      id="usage-per-type-table"
      [ngStyle]="{ display: isLoading ? 'none' : 'block' }"
    ></div>
  </div>

  <div class="col-4" style="height: 100%">
    <app-graph-skeleton *ngIf="isLoading" class="skeleton"></app-graph-skeleton>
    <br /><br />
    <div
      [ngStyle]="{ display: isLoading ? 'none' : 'block' }"
      style="height: 350px; padding-bottom: 1.5rem"
      echarts
      [options]="pieChart"
      (chartClick)="onChartEvent($event, 'chartClick')"
      class="chart"
    ></div>
  </div>
</div>
