<div class="mt-0">
  <div class="row mx-auto justify-content-center">
    <div *ngFor="let fleetcardInfo of fleetcardTopRow" class="col-md-3 d-flex">
      <i style="font-size: 76px" class="fa {{ fleetcardInfo.icon }}"></i>

      <div class="details ms-auto">
        <span
          ><b>{{ fleetcardInfo.title }}</b></span
        ><br />
        <span
          >Count: <b>{{ fleetcardInfo.count }}</b></span
        ><br />
        <span
          >Value: <b>{{ fleetcardInfo.value | toTabZAR }}</b></span
        ><br />
        <span
          >Highest Vehicle:
          <b
            >{{ fleetcardInfo.highest_vehicle.vehiclereg }} ({{
              fleetcardInfo.highest_vehicle.value | toTabZAR
            }})</b
          ></span
        >
      </div>
    </div>
  </div>
</div>
