<div class="row mx-auto">
  <div class="col mx-auto">
    <div class="row mx-auto">
      <img style="padding: 1rem" src="/assets/WesBank Logo Colour.png" />
    </div>
    <br />
    <div class="row mx-auto">
      <div class="col mx-auto" style="text-align: center">
        {{ dialogInput.message }}
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Select Format</mat-label>
        <mat-select [(value)]="selectedOption">
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br />
    <div class="row mx-auto">
      <div class="col mx-auto" style="text-align: left">
        <!-- <button
          mat-raised-button
          color="primary"
          (click)="onUserChoice('confirm')"
        >
          Download
        </button> -->
        <button
          mat-button
          style="border: 2px solid #36b6c3; border-radius: 50px; width: 8rem"
          type="submit"
          (click)="onUserChoice('confirm')"
        >
          <span>Download</span>
        </button>
      </div>
      <div class="col mx-auto" style="text-align: right">
        <!-- <button mat-raised-button color="warn" (click)="onUserChoice('cancel')">
          Cancel
        </button> -->
        <button
          mat-button
          style="border: 2px solid #f39200; border-radius: 50px; width: 8rem"
          type="submit"
          (click)="onUserChoice('cancel')"
        >
          <span>Cancel</span>
        </button>
        <br />
      </div>
    </div>
    <br />
  </div>
</div>
