/* For use in src/lib/core/theming/_palette.scss */
$kota-shop-colours-blue: (
    50 : #e3f4f6,
    100 : #b9e3e8,
    200 : #8ad1d9,
    300 : #5bbfc9,
    400 : #38b1be,
    500 : #15a3b2,
    600 : #129bab,
    700 : #0f91a2,
    800 : #0c8899,
    900 : #06778a,
    A100 : #b7f3ff,
    A200 : #84ebff,
    A400 : #51e3ff,
    A700 : #37deff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kota-shop-colours-orange: (
    50 : #fef2e0,
    100 : #fbdeb3,
    200 : #f9c980,
    300 : #f7b34d,
    400 : #f5a226,
    500 : #f39200,
    600 : #f18a00,
    700 : #ef7f00,
    800 : #ed7500,
    900 : #ea6300,
    A100 : #ffffff,
    A200 : #ffeade,
    A400 : #ffc9ab,
    A700 : #ffb991,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kota-shop-colours-darkgrey: (
    50 : #e8e9ea,
    100 : #c5c8ca,
    200 : #9ea3a7,
    300 : #777e83,
    400 : #596369,
    500 : #3c474e,
    600 : #364047,
    700 : #2e373d,
    800 : #272f35,
    900 : #1a2025,
    A100 : #6cbeff,
    A200 : #39a7ff,
    A400 : #0690ff,
    A700 : #0083eb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$kota-shop-colours-lightgrey: (
    50 : #eff1f1,
    100 : #d8dbdd,
    200 : #bec3c7,
    300 : #a3abb0,
    400 : #90999f,
    500 : #7c878e,
    600 : #747f86,
    700 : #69747b,
    800 : #5f6a71,
    900 : #4c575f,
    A100 : #c5e5fd,
    A200 : #93d0fb,
    A400 : #5dbbff,
    A700 : #43b0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kota-shop-colours-yellow: (
    50 : #fdf7e9,
    100 : #fbebc8,
    200 : #f9dea3,
    300 : #f6d07e,
    400 : #f4c663,
    500 : #f2bc47,
    600 : #f0b640,
    700 : #eead37,
    800 : #eca52f,
    900 : #e89720,
    A100 : #ffffff,
    A200 : #fff7ec,
    A400 : #ffe1b9,
    A700 : #ffd6a0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kota-shop-colours-red: (
    50 : #f9e8e5,
    100 : #f1c5be,
    200 : #e79f93,
    300 : #dd7968,
    400 : #d65c47,
    500 : #cf3f27,
    600 : #ca3923,
    700 : #c3311d,
    800 : #bd2917,
    900 : #b21b0e,
    A100 : #ffe1e0,
    A200 : #ffb2ad,
    A400 : #ff827a,
    A700 : #ff6a60,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

