<div class="monthpicker-container">
  <div class="dropdown">
    <div class="topPanel" [ngClass]="{
      'topPanel-reports': isRoute('/reports'),
      'topPanel-viewasset': isRoute('/viewasset'),
      'topPanel-driving-event': isRoute('/driving-event'),
      'topPanel-stats': isRoute('/stats'),
      'topPanel-downtime': isRoute('/downtime')
    }">
      <button class="prevYearButton" type="button" (click)="decrementYear()">
        <i class="arrow left"></i>
      </button>
      <span class="yearLabel">{{ years[currentYearIndex] }}</span>
      <button class="nextYearButton" type="button" (click)="incrementYear()">
        <i class="arrow right"></i>
      </button>
    </div>
    <div class="contentPanel">
      <div class="months-grid" [ngClass]="{
        'months-grid-reports': isRoute('/reports'),
        'months-grid-viewasset': isRoute('/viewasset'),
        'months-grid-stats': isRoute('/stats'),
        'months-grid-driving-event': isRoute('/driving-event'),
        'months-grid-downtime': isRoute('/downtime'),
        'debug-class': isRoute('/reports')
      }">
        <div
          class="monthItem"
          *ngFor="let month of monthDataSlice; let i = index"
          [ngClass]="{
            isEdge: rangeIndexes[0] === globalIndexOffset + i || rangeIndexes[1] === globalIndexOffset + i,
            notCurrentYear: currentYearIndex === 0 ? i > 11 : i < 6 || i > 17,
          }"
          (click)="onClick(i)"
        >
          <div
            class="monthItemHighlight"
            [ngClass]="{
              inRange: month.isInRange,
              isLowerEdge: month.isLowerEdge,
              isUpperEdge: month.isUpperEdge
            }"
          >
            {{ month.monthName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
