.outerCard {
    touch-action: none;
    overflow: hidden;
    // width: 400px;
    // height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.322);
    
  }
  
  .topPanel {
    // width: 477px !important;
    height: 64px;
    text-align: center;
    line-height: 64px;
    // z-index: 999 !important;
    background-color: white;
  }
  
  .prevYearButton {
    float: left;
    color: black;
    color: black;
  }
  
  .nextYearButton {
    float: right;
  }
  
  button {
    width: 64px;
    height: 64px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  
  button:focus {
    outline: 0;
  }
  
  i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .months-grid {
    position: relative;
    right: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background-color: white;
    height: 400px !important;
    width: 468px;
    margin-right: 150px;
    border-bottom-left-radius: 10px;
    margin-right: 50px !important;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  
  .topPanel .yearLabel {
    display: inline-block;
    position: fixed;
    margin: 0 auto;
    z-index: 999 !important;
  }
  
  ::ng-deep .contentPanel {
    position: fixed;
    text-align: center;
    z-index: 1000 !important;
    // width: 400px !important;
    height: 600px;
    overflow: visible !important;
    margin-top: -2px;
}

.topPanel-reports, .months-grid-reports {
  background-color: rgb(199, 9, 9) !important;
  width: 900px !important;
  z-index: 999 !important;
}

.debug-class {
  border: 5px solid red !important;
}


// Set topPanel width on the downtime page
.topPanel-downtime, .months-grid-downtime {
  background-color: white;
  // width: 350px !important;
}

// Set topPanel width on the driving-event page
.topPanel-driving-event, .months-grid-driving-event {
  background-color: white;
  width: 400px !important;
}

// Set topPanel width on the viewasset, driving-event, stats pages
.topPanel-viewasset, .months-grid-viewasset, .months-grid-driving-event
.topPanel-stats, .months-grid-stats {
  background-color: white;
  width: 378px !important;
}
  
  .monthItem {
    display: inline-table;
    height: 64px;
    width: 64px;
    cursor: pointer;
    text-align: center;
    line-height: 64px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  .monthItem:hover {
    border-radius: 100%;
    background-color: #1474a4;
    color: white;
  }
  
  .isEdge {
    border-radius: 100%;
    background-color: #1474a4;
    color: white;
  }
  
  .inRange {
    background-color: #1474a4;
    opacity: 0.5;
    color: white;
  }
  
  .isLowerEdge {
    background-color: none;
    // background: linear-gradient(to right, transparent 50%, #1474a4 50%);
  }
  
  .isUpperEdge {
    background-color: none;
    // background: linear-gradient(to right, #1474a4 50%, transparent 50%);
  }
  
  .notCurrentYear {
    color: #c4cbd6;
  }
  
  
  // .dropdown {
  //   // position: absolute;
  //   z-index: 1000; /* High z-index to overlay other elements */
  //   // top: 0; /* Adjust as needed */
  //   // left: 0; /* Adjust as needed */
  //   // width: auto; /* Adjust as needed */
  //   // height: auto; /* Adjust as needed */
  // }