<div class="row mx-auto mt-3">
  <div class="col">
    <mat-card
      class="small-form-mat-card-general-form-holder graphs mx-auto p-3 pb-5"
    >
      <mat-card-content>
        <app-veh-type-table></app-veh-type-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row mx-auto mt-3">
  <div class="col">
    <mat-card
      class="small-form-mat-card-general-form-holder graphs mx-auto p-3 pb-5"
    >
      <mat-card-content>
        <app-component-table></app-component-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row mx-auto mt-3 btm-row">
  <div class="col">
    <mat-card
      class="small-form-mat-card-general-form-holder graphs mx-auto p-3 pb-5"
    >
      <mat-card-content>
        <app-supplier-invoice-table></app-supplier-invoice-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
