<mat-card class="small-form-mat-card-general-form-holder p-3 mb-3">
  <div class="row" style="height: 100%; text-align: center">
    <div class="col"></div>
    <!-- <app-skeleton *ngIf="isLoading"></app-skeleton> -->
    <div class="col"></div>
  </div>
  <div class="row" style="height: 100%">
    <div class="col">
      <!-- <mat-card style="height: 95%"> -->
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            <h2 class="top-row-header">Asset Summary</h2>
          </div>
          <app-skeleton *ngIf="isLoading"></app-skeleton>
          <div class="col" style="text-align: center" *ngIf="!isLoading">
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <mat-chip
                  style="
                    background-color: #69d2dc00;
                    border: solid 3px #36b6c3;
                    font-size: 1.3rem;
                  "
                  >{{ totalCPK }}</mat-chip
                >
              </div>
              <div class="col my-auto"></div>
            </div>
            <div class="row">
              <div class="col">
                <span class="top-row-cpk-holder">c/Km</span>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col">Asset Count</div> -->

        <div class="row" *ngIf="!isLoading">
          <div class="col">
            <div class="row">
              <div class="col"><span>MM</span></div>
            </div>
            <div class="row">
              <div class="col">
                <span> {{ mmCount }} </span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col"><span>FML</span></div>
            </div>
            <div class="row">
              <div class="col">
                <span> {{ fmlCount }} </span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col"><span>OPL</span></div>
            </div>
            <div class="row">
              <div class="col">
                <span> {{ oplCount }} </span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col"><span>Total</span></div>
            </div>
            <div class="row">
              <div class="col">
                <span> {{ totalAssetCount }} </span>
              </div>
            </div>
          </div>
        </div>

        <hr class="top-row-divider" *ngIf="!isLoading" />
        <div class="row" *ngIf="!isLoading">
          <div class="col">
            Total Costs<br />
            <span> {{ totalCosts }} </span>
            <!-- //costs per Total costs -->
          </div>
          <div class="col">
            Total Savings
            <br />
            <span>{{ totalSaving }} </span>
            <!-- //costs per Total savings -->
          </div>
        </div>
        <hr class="top-row-divider" *ngIf="!isLoading" />
        <div class="row" *ngIf="!isLoading">
          <div class="col my-auto"><span>Distance Travelled</span></div>
          <div class="col">
            <mat-chip
              (click)="onChipClick('assets')"
              class="top-row-totals-chip"
              >{{ totalDistance }}</mat-chip
            >
          </div>
        </div>

        <br />
      </mat-card-content>
      <!-- </mat-card> -->
    </div>
    <div class="col">
      <!-- <mat-card style="height: 95%"> -->
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            <h2 class="top-row-header">Fixed Costs</h2>
          </div>
          <app-skeleton *ngIf="isLoading" class="mt-0"></app-skeleton>
          <div class="col" style="text-align: center" *ngIf="!isLoading">
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <mat-chip
                  style="
                    background-color: #69d2dc00;
                    border: solid 3px #36b6c3;
                    font-size: 1.3rem;
                  "
                  >{{ fixedTotalCPK }}</mat-chip
                >
              </div>
              <div class="col my-auto"></div>
            </div>
            <div class="row">
              <div class="col">
                <span class="top-row-cpk-holder">c/Km</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!isLoading">
          <div class="col">MM</div>
          <div class="col" style="text-align: right">
            <span>{{ fixedMmCosts }}</span>
          </div>
          <div class="col" style="text-align: right">
            <span>{{ fixedMmCPK }} c/Km</span>
          </div>
        </div>
        <hr class="top-row-divider" *ngIf="!isLoading" />
        <div class="row" *ngIf="!isLoading">
          <div class="col">FML</div>

          <div class="col" style="text-align: right">
            <span>{{ fixedFmlCosts }}</span>
          </div>
          <div class="col" style="text-align: right">
            <span>{{ fixedFmlCPK }} c/Km</span>
          </div>
        </div>
        <hr class="top-row-divider" *ngIf="!isLoading" />
        <div class="row" *ngIf="!isLoading">
          <div class="col">OPL</div>

          <div class="col" style="text-align: right">
            <span>{{ fixedOplCosts }}</span>
          </div>
          <div class="col" style="text-align: right">
            <span>{{ fixedOplCPK }} c/Km</span>
          </div>
        </div>

        <hr class="top-row-divider" *ngIf="!isLoading" />
        <div class="row" *ngIf="!isLoading">
          <div class="col my-auto">Total Fixed Costs</div>

          <div class="col">
            <mat-chip
              (click)="onChipClick('fixedCost')"
              class="top-row-totals-chip"
              >{{ totalFixedCosts }}</mat-chip
            >
          </div>
        </div>
        <hr class="top-row-divider" *ngIf="!isLoading" />
        <div class="row" *ngIf="!isLoading">
          <div class="col my-auto">Variable Fixed Costs</div>

          <div class="col">
            <mat-chip class="top-row-totals-chip-green">{{
              externalOrdersTotal
            }}</mat-chip>
          </div>
        </div>
      </mat-card-content>
      <br />
      <!-- </mat-card> -->
    </div>
    <div class="col">
      <!-- <mat-card style="height: 95%"> -->
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            <h2 class="top-row-header">Variable Costs</h2>
          </div>
          <app-skeleton *ngIf="isLoading"></app-skeleton>
          <div class="col" style="text-align: center" *ngIf="!isLoading">
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <mat-chip
                  style="
                    background-color: #69d2dc00;
                    border: solid 3px #36b6c3;
                    font-size: 1.3rem;
                  "
                  >{{ varTotalCPK }}</mat-chip
                >
              </div>

              <div class="col my-auto">
                <mat-icon
                  (click)="infoPopup()"
                  fontSet="fa"
                  fontIcon="fa-info"
                  style="
                    position: absolute;
                    color: #7c878e;
                    z-index: 10000;
                    margin-left: 8px;
                  "
                ></mat-icon>
                &nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span class="top-row-cpk-holder">c/Km</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!isLoading">
          <div class="col">MM</div>
          <div class="col" style="text-align: right">
            <span>{{ varMmCosts }}</span>
          </div>
          <div class="col" style="text-align: right">
            <span>{{ varMmCPK }} c/Km</span>
          </div>
        </div>
        <hr class="top-row-divider" *ngIf="!isLoading" />
        <div class="row" *ngIf="!isLoading">
          <div class="col">FML</div>

          <div class="col" style="text-align: right">
            <span>{{ varFmlCosts }}</span>
          </div>
          <div class="col" style="text-align: right">
            <span>{{ varFmlCPK }} c/Km</span>
          </div>
        </div>

        <hr class="top-row-divider" *ngIf="!isLoading" />
        <div class="row" *ngIf="!isLoading">
          <div class="col my-auto">Variable Cost</div>

          <div class="col" style="text-align: center">
            <mat-chip
              class="top-row-totals-chip"
              (click)="onChipVariableCost('external-orders')"
              >{{ totalBilledCosts }}</mat-chip
            >
          </div>
        </div>
        <hr class="top-row-divider" *ngIf="!isLoading" />
        <div class="row" *ngIf="!isLoading">
          <div class="col my-auto">Unmatched PO's</div>

          <div class="col" style="text-align: center">
            <mat-chip class="top-row-totals-chip-red">{{
              invvoiceExceptionTotal
            }}</mat-chip>
          </div>
        </div>
        <br /> </mat-card-content
      ><br />
      <!-- </mat-card> -->
    </div>
  </div>
</mat-card>
