<mat-card class="small-form-mat-card-general-form-holder">
  <mat-card-content>
    <div class="row mx-auto pt-3" style="width: 98%">
      <div class="col">
        <div class="row">
          <div class="col">
            <span class="top-row-header">Spend</span>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <mat-chip class="top-row-totals-chip">{{ totalCost }}</mat-chip>
          </div>
        </div>

        <br />
        <hr class="top-row-divider" />
        <br />
        <div class="row">
          <div class="col">
            <span class="top-row-header">Repairs</span>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="row">
            <div class="col">
              <mat-chip class="top-row-totals-chip">{{
                totalRepairCount
              }}</mat-chip>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <app-spend-per-type-bar></app-spend-per-type-bar>
      </div>
    </div>
  </mat-card-content>
</mat-card>
