<div class="row mx-auto my-auto p-3 btn-row mt-2">
  <div class="col mx-auto">
    <div class="row mx-auto">
      <div class="col-md-2 mx-auto my-auto text-center" type="button">
        <button mat-button class="small_form_button" type="button"
          (click)="smallForm.ordersButtonClicked('delete')" [disabled]="
    !smallForm.isOrderDeleteButtonEnabled ||
    !smallForm.userCanDeleteOrders
  ">
          <span [style.display]="
      smallForm.isMonthRangePickerExpanded
        ? 'none'
        : 'inline-block'
    ">
            Delete Order
          </span>
        </button>
      </div>
      <div class="col-md-2 mx-auto my-auto text-center">
        <button mat-button class="small_form_button me-auto" type="button" type="button"
          (click)="smallForm.ordersButtonClicked('create')" [disabled]="
    !smallForm.isOrderAddButtonEnabled ||
    !smallForm.userCanAddOrders
  ">
          New Order
        </button>
      </div>

      <div class="col-md-2 mx-auto my-auto text-center">

        <button mat-button class="small_form_button" type="button"
          (click)="smallForm.ordersButtonClicked('edit')" [disabled]="
    !smallForm.isOrderEditButtonEnabled ||
    !smallForm.userCanEditOrders
  ">
          Edit Order
        </button>
      </div>
      <div class="col-md-2 mx-auto my-auto text-center">
        <button mat-button class="small_form_button" type="button"
          (click)="smallForm.ordersButtonClicked('view_asset')"
          [disabled]="!smallForm.isOrderViewAssetButtonEnabled">
          View Asset
        </button>
      </div>
      <div class="col-md-2 mx-auto my-auto text-center">
        <button mat-button class="small_form_button" type="button"
          (click)="smallForm.ordersButtonClicked('viewInvoices')"
          [disabled]="!smallForm.isOrderViewInvoiceButtonEnabled">
          View Invoices
        </button>
      </div>

      <div class="col-md-2 mx-auto text-center">
        <button mat-button class="small_form_button" type="button"
          (click)="smallForm.ordersButtonClicked('download')"
          [disabled]="!smallForm.isOrderDownloadButtonEnabled">
          Download
        </button>
      </div>
      <br />
    </div>
  </div>
</div>

<mat-card
  class="small-form-mat-card-general-form-holder graphs mx-auto p-3 ml-0 mr-0 mt-3"
  *ngIf="userCanViewOrders"
>
  <mat-card-content>
    <!-- <div class="row mx-auto my-auto">
      <div class="col mx-auto my-auto"> -->
    <br />
    <h2 class="top-row-header">{{ selectedBranch }} : Orders Amount Summary</h2>

    <div class="row mx-auto-my-auto">
      <div class="col mx-auto my-auto">
        <p class="form-control">Total Order Amount:</p>
        <p class="form-control">Total Invoice Amount:</p>
        <p class="form-control">Total Invoice Difference:</p>
        <p class="form-control">Total Invoice Count:</p>
      </div>
      <div class="col mx-auto my-auto">
        <p class="form-control">
          {{ totalOrderAmount }}
        </p>
        <p class="form-control">{{ totalInvAmount }}</p>
        <p class="form-control">{{ totalInvDiff }}</p>
        <p class="form-control">{{ totalInvCount }}</p>
        <!-- </div>
        </div> -->
      </div>
    </div>
  </mat-card-content>
</mat-card>

<br />
<br />
<div class="row mx-auto" *ngIf="!userCanViewOrders"></div>
<div class="row mx-auto" *ngIf="!userNotFound">
  <div class="col mx-auto">
    <h6 class="top-row-header">
      Current user is not authorised to view orders for the selected branch.
    </h6>
    <br />

    <h6 class="top-row-header">
      You can view your permissions by clicking the "?" in the top right of the
      page.
    </h6>
  </div>
</div>
