.conatiner {
    height: 100% !important;
}

.card {
    border-radius: 0.75rem;
}

.container {
    position: relative; /* Set the container to relative positioning */
}

.content {
    background-image: url('../../../../assets/bg2.png');
    background-size: cover;
    background-position: center;
    height: 800px;
    position: relative; /* Ensure content is positioned relative to the container */
    z-index: 1; /* Place content above the cover div */
    border-radius: 0.75rem;
}

.cover {
    position: absolute; /* Position the cover div absolutely within the content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Use RGBA color for background with opacity */
    z-index: -1; /* Ensure the cover div is behind the content */
    border-radius: 0.75rem;
}

.title {
    background-color: #15a3b3;
    padding: 30px;
    color: white;
    border-radius: 100px;
}

h1 {
    font-size: 50px;
}

.links {
    max-width: 60%;
}

.icon-btn {
    background-color: rgb(231, 231, 231);
    color: #15a3b3;
    box-shadow: 0 4px 10px rgba(228, 137, 0, 0.8);
}
.icon-btn:hover {
    position: relative;
    background-color: rgb(231, 231, 231);
    color: rgba(228, 137, 0, 0.8);
    box-shadow: 0 4px 10px rgba(228, 137, 0, 0.8);
    margin-top: -20px;
    width: 80px;
    height: 80px;
    transition: ease-in-out 0.5s;
    z-index: 999 !important;
}

.logo {
    height: 200px;
}

::ng-deep .mat-mdc-tooltip .mdc-tooltip__surface {
    background-color: white !important;
    color: #000000 !important;
    border: 1px solid #15a3b3 !important;
}