<mat-card class="card-holder" style="width: 100%;height: 100%;" *ngIf="router.url !== '/dashboard'">
  <mat-card-header>
    <p class="top-row-header"> Welcome To Kota Shop Dashboard</p>
  </mat-card-header>

  <mat-card-header>
    <p class="top-row-header">Please {{ isLogin ? 'Login' : 'Register' }} Below</p>
  </mat-card-header>

  <div class="top-row-header">
    <button mat-button (click)="toggleView()">{{ isLogin ? 'Register' : 'Login' }}</button>
  </div>

  <ng-container *ngIf="isLogin; else registrationForm">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </ng-container>

  <ng-template #registrationForm>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
  </ng-template>
</mat-card>

<router-outlet></router-outlet>
