<br />
<br />
<div class="row">
  <div class="col-md-3" style="height: 350px;" >
    <div class="chartContainer">
      <apx-chart
        [series]="distVsFTYDSeries"
        [chart]="chartDetails"
        [labels]="FYTDLabels"
        [title]="distFYTDTitle"
        [plotOptions]="plotOptions"
        [legend]="legend"
        [colors]="colors"
      ></apx-chart>
    </div>
  </div>
  <div class="col-md-3" style="height: 350px;">
    <div class="chartContainer">
      <apx-chart
        [series]="distVsPriorSeries"
        [chart]="chartDetails"
        [labels]="priorLabels"
        [title]="distPriorTitle"
        [plotOptions]="plotOptions"
        [legend]="legend"
        [colors]="colors"
      ></apx-chart>
    </div>
  </div>
  <div class="col-md-3" style="height: 350px;"> 
    <div class="chartContainer">
      <apx-chart
        [series]="costVsFYTDSeries"
        [chart]="chartDetails"
        [labels]="FYTDLabels"
        [title]="costFYTDTitle"
        [plotOptions]="plotOptions"
        [legend]="legend"
        [colors]="colors"
      ></apx-chart>
    </div>
  </div>
  <div class="col-md-3" style="height: 350px;">
    <div class="chartContainer">
      <apx-chart
        [series]="costVsPriorSeries"
        [chart]="chartDetails"
        [labels]="priorLabels"
        [title]="costPriorTitle"
        [plotOptions]="plotOptions"
        [legend]="legend"
        [colors]="colors"
      ></apx-chart>
    </div>
  </div>
</div>
