::ng-deep [tabulator-field="progress"] > div {
  background-color: #007582 !important;
}
::ng-deep
  .tabulator
  .tabulator-header
  .tabulator-col.tabulator-sortable
  .tabulator-col-title {
  padding-right: 25px;
  background-color: #69d2dc !important;
  border-color: #69d2dc;
}

::ng-deep .tabulator .tabulator-header .tabulator-col .tabulator-col-content {
  padding: 0px;
  background-color: #69d2dc;
}

.fleet-row {
  margin-bottom: 75px;
}

.table {
  overflow: auto;
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 650px !important;
  margin-bottom: 10px !important;
  // margin-top: -20px !important;
}

::ng-deep .tabulator .tabulator-header .tabulator-header-contents .tabulator-headers {
  display: inline-block;
  padding: 0px !important;
}

.table>:not(caption)>*>* {
  padding: 0rem 0rem !important;
  color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
  background-color: var(--bs-table-bg);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}
:host ::ng-deep .skeleton {
  height: 400px !important;
}

