
<mat-card class="card-holder" style="height: 95%; width: 95%;padding-left: 6px;">
  <mat-card-header>
    Kota Shop Dashboard
  </mat-card-header>
  <div class="top-row-header">
    <button mat-button (click)="toggleView()">{{ isLogin ? 'Register' : 'Login' }}</button>
  </div>

  <ng-container *ngIf="isLogin; else registrationForm">
    <p class="top-row-header">Login</p>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </ng-container>

  <ng-template #registrationForm>
    <p class="top-row-header">Register</p>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
  </ng-template>
</mat-card>
