<div class="row mx-auto">
  <div class="col mx-auto"></div>
</div>

<div class="row mx-auto mt-3">
  <div class="col mx-auto">
    <mat-card
      class="small-form-mat-card-general-form-holder graphs mx-auto p-3 pb-5"
    >
      <mat-card-content class="p-0 pt-3">
        <app-veh-contract-expirations-table></app-veh-contract-expirations-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row mx-auto btm-row">
  <div class="col mx-auto">
    <mat-card
      class="small-form-mat-card-general-form-holder graphs mx-auto p-3 pb-5"
    >
      <mat-card-content class="p-0 pt-3">
        <app-veh-license-expirations-table></app-veh-license-expirations-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
