<div class="row mx-auto mt-4">
  <div class="col">
    <mat-card
      class="small-form-mat-card-general-form-holder graphs mx-auto p-4"
    >
      <mat-slide-toggle
        *ngIf="!singleAsset"
        (change)="onAssetToggle()"
        checked="false"
        style="margin-bottom: 0.5rem"
      >
        <span>
          <span [ngStyle]="{ color: viewTrailers ? 'grey' : '' }"
            >Vehicles</span
          >
          |
          <span [ngStyle]="{ color: viewTrailers ? '' : 'grey' }"
            >Trailers</span
          >
        </span>
      </mat-slide-toggle>
      <h2 *ngIf="!viewTrailers" class="top-row-header">CPK Impact</h2>
      <h2 *ngIf="viewTrailers" class="top-row-header">Cost Impact</h2>
      <app-skeleton *ngIf="isLoading"></app-skeleton>
      <div
        *ngIf="!isLoading"
        class="charts"
        echarts
        [options]="statsSankey"
      ></div>
    </mat-card>
  </div>
</div>
