<div class="row mx-auto my-auto p-3 btn-row">
  <div class="col-md-4 mx-auto text-center">
        <button mat-button class="small_form_button mt-2" type="button" (click)="smallForm.onDtClick('add')">
          <span [style.display]="
      smallForm.isMonthRangePickerExpanded
        ? 'none'
        : 'inline-block'
    ">
            Book Vehicle
          </span>
        </button>
      </div>
      <div class="col-md-4 mx-auto my-auto p-2" style="text-align: center">
        <button mat-button class="small_form_button me-auto" type="button" type="button"
          (click)="smallForm.onDtClick('complete')" [disabled]="!smallForm.dtSelectButtonsEnabled">
          Return Vehicle
        </button>
      </div>

      <div class="col-md-4 mx-auto my-auto p-2" style="text-align: center">
        <button mat-button class="small_form_button" type="button" (click)="smallForm.onDtClick('edit')"
          [disabled]="!smallForm.dtSelectButtonsEnabled">
          Edit Entry
        </button>
      </div>
      <br />
</div>

<div class="row p-3 mt-4">
  <div class="col-12 pl-0">
    <div class="mat-card">
      <ag-grid-angular
        #agGrid
        style="width: 100% !important;"
        class="ag-theme-alpine"
        rowSelection="single"
        [gridOptions]="gridOptions"
        [rowData]="gridData"
        [columnDefs]="columnDefs"
        (rowClicked)="onRowClick()"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
