<div class="row mx-auto">
  <div class="col-8 mx-auto">
    <h3 class="top-row-header">License Expiries</h3>
  </div>
  <div class="col mx-auto my-auto d-flex justify-content-end">
    <mat-icon
      (click)="exportToCSV()"
      class="material-icons my-auto"
      style="color: #69d2dc"
      >cloud_download</mat-icon
    >
  </div>
</div>
<div class="row mx-auto">
  <div class="col mx-auto">
    <div
      id="vehLicExpTable"
      class="table"
      [ngStyle]="{ display: isLoading ? 'none' : 'block' }"
    ></div>
  </div>
</div>
<br />
