.top-row-header {
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.header-col {
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.header-row {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#supplierInvTable {
    padding: 0px !important;
}

:host ::ng-deep .skeleton {
    height: 350px !important;
}