<br />
<div class="row mx-auto">
  <div class="col mx-auto card-container">
    <h2 style="text-align: center">
      {{ inputData.isEditMode ? editOrder : addNewOrder }}:
      {{ inputData.selectedBranch }}
    </h2>
    <hr />
    <form [formGroup]="newOrdersForm" style="display: 100%; width: 100%">
      <div class="row mx-auto" style="font-size: 18px">
        <h5 class="top-row-header">
          {{
            inputData.isEditMode
              ? editOrder +
                " - " +
                (inputData.selectedRowData?.order_no || newOrderNumber)
              : addNewOrder + " - " + newOrderNumber
          }}
        </h5>

        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label>Branch</mat-label>
            <input
              matInput
              formControlName="branch"
              [disabled]="isMilesOrders"
            />
          </mat-form-field>
        </div>
        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label>Order Number</mat-label>
            <input
              matInput
              formControlName="order_no"
              [disabled]="isMilesOrders"
            />{{ newOrderNumber }}
          </mat-form-field>
        </div>
        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label> Order Date </mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
              (dateChange)="chosenMonthHandler($event, picker)"
            >
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row mx-auto" style="font-size: 18px">
        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label>Quote Number</mat-label>
            <input matInput formControlName="quote_no" />
          </mat-form-field>
        </div>
        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput type="number" formControlName="amount" />
          </mat-form-field>
        </div>
        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label>Service Provider</mat-label>
            <input
              matInput
              formControlName="service_provider"
              aria-label="Service Provider"
              [matAutocomplete]="autoServiceProvider"
              (input)="filteredSuppliersDropDowns($event)"
            />

            <mat-autocomplete
              #autoServiceProvider="matAutocomplete"
              (optionSelected)="selectedSupplierDropDown($event)"
            >
              <mat-option
                *ngFor="let supplier of filteredSuppliers"
                [value]="supplier.service_provider"
              >
                <span>{{ supplier.service_provider }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col mx-auto">
          <mat-slide-toggle
            (change)="onSlideChangeVehicleOrFleetNo($event)"
            checked="true"
            >{{ newOrderFormToggleText }}</mat-slide-toggle
          >
        </div>

        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label>Registration</mat-label>
            <input
              matInput
              formControlName="vehiclereg"
              [matAutocomplete]="autoRegistration"
              (input)="filteredRegistrationDropdown($event)"
            />

            <mat-autocomplete
              #autoRegistration="matAutocomplete"
              (optionSelected)="selectedRegDropDown($event)"
            >
              <mat-option
                *ngFor="let reg of filteredRegistration"
                [value]="reg"
              >
              <span>{{ reg }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label>Fleet Number</mat-label>
            <input
              matInput
              formControlName="fleet_no"
              [matAutocomplete]="autoFleetNumber"
              (input)="filteredFleetNumberDropdown($event)"
            />
            <mat-autocomplete
              #autoFleetNumber="matAutocomplete"
              (optionSelected)="selectedFleetNumberDropDown($event)"
            >
              <mat-option
                *ngFor="let fleet_no of filteredFleetNumbers"
                [value]="fleet_no"
                >{{ fleet_no }}</mat-option
              >
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row mx-auto">
        <div class="col mx-auto"></div>

        <div class="col mx-auto" style="font-size: 18px"></div>
      </div>

      <div class="row mx-auto" style="font-size: 18px">
        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label>Order Reference No</mat-label>
            <input matInput formControlName="client_ref" />
          </mat-form-field>
        </div>
        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label>Order Repairs Type</mat-label>
            <mat-select formControlName="repair_type">
              <mat-option
                *ngFor="let item of repair_type"
                [value]="item.repair_types"
                >{{ item.repair_types }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label>Mapping</mat-label>
            <input
              matInput
              formControlName="mapping"
              aria-label="Mapping"
              [matAutocomplete]="autoMapping"
              (input)="filteredMappingDropDowns($event)"
            />
            <mat-autocomplete
              #autoMapping="matAutocomplete"
              (optionSelected)="selectedMappingDropDown($event.option.value)"
            >
              <mat-option
                *ngFor="let item of filteredMapping"
                [value]="item.mapping"
              >
                <span>{{ item.mapping }}</span></mat-option
              >
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div class="row mx-auto" style="font-size: 18px">
        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label>Odometer</mat-label>
            <input matInput formControlName="odo" />
          </mat-form-field>
        </div>
        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label>Vehicle Type</mat-label>
            <input matInput formControlName="veh_type_map" />
          </mat-form-field>
        </div>
        <div class="col mx-auto" style="font-size: 18px">
          <mat-form-field>
            <mat-label>Contract Type</mat-label>
            <input matInput formControlName="contract_type" />
          </mat-form-field>
        </div>
      </div>

      <div class="form-group">
        <label>Order Description</label>
        <textarea
          class="form-control"
          formControlName="description"
          rows="3"
        ></textarea>
      </div>

      <div class="row mx-auto">
        <div class="col my-auto mx-auto" style="font-size: 18px">
          <mat-slide-toggle
            (change)="onSlideToggleChange($event)"
            checked="true"
          >
            {{ toggleText }}
          </mat-slide-toggle>
        </div>
        <div class="col mx-auto">
          <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close (click)="cancelOrder()">
              Cancel
            </button>
            <button
            mat-button
            cdkFocusInitial
            (click)="saveOrder()"
            [disabled]="!newOrdersForm.valid"
          >
            {{ inputData.isEditMode ? 'Update Order' : (isMilesOrders ? 'Add Miles Order' : 'Add External Order') }}
          </button>
          </mat-dialog-actions>
        </div>
      </div>
    </form>
  </div>
</div>
