<mat-toolbar class="mat-elevation-z3 px-4">
  <!-- <button mat-icon-button class="icon" aria-label="icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->

  <img
    src="/assets/WesBank Logo Colour.png"
    height="60%"
    class="mainHeaderLogo pl-0"
    style="max-height: 50%"
    routerLink="/"
  />
  <!-- <div class="row mx-auto">
    <div class="col mx-auto"> -->
      <!-- <app-small-form-component *ngIf="route.url !== '/'"></app-small-form-component> -->
      <div class="row mx-auto my-auto" style="width: 60%; background-color: white;;" *ngIf="route.url !== '/'">
        <button mat-button style="border: 2px solid #36b6c3; border-radius: 50px; width: 100%" type="submit"
          class="" (click)="openDialog()">
          <span>Filter <b>{{route.url.toUpperCase().slice(1)}}</b> Data</span>
          <mat-icon class="clear-icon">filter_list</mat-icon>&nbsp;&nbsp;
        </button>
      </div>
    <!-- </div>
  </div> -->

  <!-- // this will be to display user permission details  -->

  <!-- <mat-icon class="info-icon mt-2" (click)="globalService.showUserPermissions()"
    >help_outline</mat-icon
  > -->

  <!-- <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>{{
      getTheme() === "dark" ? "dark_mode" : "light_mode"
    }}</mat-icon>
  </button> -->
  <app-avatar class="ms-auto"></app-avatar>
  <mat-menu #profile_menu>
    <app-profile></app-profile>
    <mat-divider></mat-divider>
    <app-auth-button></app-auth-button>
  </mat-menu>
</mat-toolbar>

<!-- <div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div> -->
<app-menu></app-menu>
