<!-- <div *ngIf="assetFound">{{ assetInfo.vehiclereg }}</div> -->
<div *ngIf="!assetFound">
  This asset {{ assetInfo.vehiclereg }} is not in the fleetlist
</div>

<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="row" style="background-color: darkcyan; border-radius: 0.5rem;">
        <div class="col my-auto">
          <h1>{{ assetInfo.vehiclereg }}</h1>
        </div>
        <div class="col">
          <span class="headerTitle">{{ assetInfo.make }}</span>
          <span class="headerDescriptor">make </span>
        </div>
        <div class="col">
          <span class="headerTitle">{{ assetInfo.description }}</span>
          <span ngClass="headerDescriptor">model </span>
        </div>

        <div class="col">
          <span class="headerTitle">{{ assetInfo.veh_model_map }}</span>
          <span class="headerDescriptor">map </span>
        </div>
        <div class="row mx-auto" style="width: 100%; padding-bottom: 0.5rem;">
          <div class="card">
            <div class="row">
              <div class="col">{{ assetInfo.branch }}</div>
              <div class="col">joined {{ assetInfo.date_of_first_reg }}</div>
              <div class="col">odo {{ assetInfo.last_known_odo }}</div>
              <div class="col">mplan {{ assetInfo.contract_type }}</div>
              <div class="col">
                mplan mileage {{ assetInfo.contract_mileage }} km
              </div>
            </div>
          </div>
          <!-- <div class="col">division {{ assetInfo.division }}</div> -->
        </div>
      </div>
      <div class="row my-auto">
        <app-costs-podium [costsObj]="totalCostsAndCPKsPodium" [distancesTotals]="vehicleDistance"></app-costs-podium>

      </div>
    </div>

    <div class="col">
      <div class="row" style="max-height: 100%">
        <div class="col">
          <img src="{{assetImgPath}}" style="max-width: 100%" />
        </div>
      </div>
    </div>
  </div>
</div>