<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> CPK's per component</mat-panel-title>
      <mat-panel-description>
        View CPKS per component in {{ division }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="branchCPKS">
      <div class="row">
        <div class="col-2" *ngFor="let branch of branchCPKS | keyvalue">
          <h2>{{ branch.key }}</h2>
          <h4>{{ branch.value.div_avg }}</h4>
          <div *ngFor="let component of branch.value.div_data">
            <!-- <p>branch: {{ component.branch }}</p>
            <p>component cpk: {{ component.component_cpk }}</p> -->
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuemin="0"
                aria-valuemax="100"
                [attr.aria-valuenow]="component.component_cpk"
              >
                {{ component.component_cpk }}
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-2" *ngFor="let component of branchCPKS | keyvalue">
          <h3>{{ component.key }}</h3>
          <ul>
            <div class="row" *ngFor="let item of component.value | keyvalue">
              <div>{{ item.value }}</div>
              <div class="progress">
                <div
                  class="progress-bar"
                  [style.width]="
                    (item.div_data.component_cpk / getMaxCPK(component.value)) *
                      100 +
                    '%'
                  "
                  [style.backgroundColor]="
                    getProgressBarColor(
                      item.div_data.component_cpk,
                      component.value
                    )
                  "
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [attr.aria-valuenow]="item.div_data.component_cpk"
                >
                  {{ item.div_data.component_cpk }}
                </div>
              </div>
            </div>
          </ul>
        </div> -->
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
