<div class="row mx-auto mb-4 main-row">
  <div class="col mx-auto my-auto">
    <!-- *********************************************************************************************** -->
    <!-- ********************************** DRIVING EVENTS TOP ROW ************************************* -->
    <!-- ***********************************************************************************************  -->
    <mat-card
      class="small-form-mat-card-general-form-holder graphs mx-auto mb-4"
      *ngIf="showTopRow"
    >
      <mat-card-content>
        <div class="row mx-auto my-auto">
          <div class="col mx-auto my-auto">
            <app-driving-events-top
              [drivingEventsTopRow]="drivingEventsTopRow"
            ></app-driving-events-top>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- *********************************************************************************************** -->
    <!-- ********************************** DRIVING EVENTS BI GUAGES ************************************* -->
    <!-- ***********************************************************************************************  -->
    <mat-card
      class="small-form-mat-card-general-form-holder graphs mx-auto mt-4 mb-4"
    >
      <mat-card-content>
        <div class="row mx-auto my-auto">
          <div class="col mx-auto my-auto">
            <app-bi-guages [biGaugesData]="biGaugesData"></app-bi-guages>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- *********************************************************************************************** -->
    <!-- ********************************** DRIVING EVENTS TABLE ************************************* -->
    <!-- ***********************************************************************************************  -->
    <mat-card
      class="small-form-mat-card-general-form-holder graphs mx-auto mt-4 mb-4"
    >
      <mat-card-content>
        <div class="row mx-auto my-auto">
          <div class="col mx-auto my-auto">
            <app-driving-events-table
              [drivingEventsData]="drivingEventsData"
            ></app-driving-events-table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- *********************************************************************************************** -->
    <!-- ********************************** DRIVING EVENTS MAP ************************************* -->
    <!-- ***********************************************************************************************  -->
    <mat-card
      class="small-form-mat-card-general-form-holder graphs mx-auto mt-4 mb-4"
    >
      <mat-card-content>
        <div class="row mx-auto my-auto">
          <div class="col mx-auto my-auto">
            <app-drivers-events-maps
              [filteredEventDetails]="filteredEventDetails"
            ></app-drivers-events-maps>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br /><br /><br />
