<div class="row mx-auto">
  <div class="col mx-auto my-auto">
    <mat-card class="small-form-mat-card-general-form-holder graphs mx-auto">
      <mat-card-content>
        <app-dashboard-graphs ></app-dashboard-graphs>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mx-auto mt-4 btm-row">
  <div class="col">
    <mat-card class="small-form-mat-card-general-form-holder graphs mx-auto">
      <mat-card-content>
        <div class="row pt-3 mb-0">
          <div class="col-md-6 mx-auto my-auto">
            <app-stddeviation ></app-stddeviation>
          </div>
          <div class="col-md-6 mx-auto my-auto">
            <app-fleet-count-table [commercialData]="commercialData " [passengerData]="passengerData" ></app-fleet-count-table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
